<!DOCTYPE html>
<html>
  <head>
    <title>The Pet Shop</title>
    <%- css("style") %>
  </head>
  <body>
    <h1>Welcome to <span id="owner_name"></span> Pet Shop</h1>

    <div id="featured">
    </div>

    <div id="filtering">
      <span class="instructions">Filter by animal type:</span>
      <ul id="filtering_opts">
      </ul>
    </div>
    <ul id="available_pets">
    </ul>
    <div id="pet_information">
    </div>

    <%- js("setup") %>
  </body>
</html>