body {
  font-family: Garamond, "Hoefler Text", "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
  background: #FFFDF4;
}

h1 {
  font-family: Futura, "Century Gothic", AppleGothic, sans-serif;
  margin: 0;
  padding: 0.5em;
  background: #0F7200;
  color: white;
}

body > p {
  padding: 1em;
  font-size: 1.2em;
  font-style: italic;
}

#available_pets {
  margin: 0;
  float: left;
  border-right: 1px solid #194900;
}

#available_pets li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#available_pets li a {
  display: block;
  text-decoration: none;
  color: #194900;
  font-weight: bold;
  margin: 0.1em 0;
  padding: 0.5em 5em 0.5em 0.5em;
}

#available_pets li a.selected {
  border: 1px solid #194900;
  border-right: none;
}

#available_pets li a:hover, #available_pets li a.selected {
  background: #FFF5CC;
}

#available_pets li a .sound,
#available_pets li a .action {
  margin-left: 0.4em;
  font-weight: normal;
  font-style: italic;
  color: gray;
}

#available_pets li a .action:before, #available_pets li a .action:after {
  content: "*";
}

#available_pets li a .sound:before, #available_pets li a .sound:after {
  content: '"';
}

#pet_information {
  float: left;
  padding-left: 4em;
  max-width: 40em;
}

#pet_information h2, #pet_information h3 {
  margin: 0.5em 0;
}

#pet_information .breed {
  color: gray;
  font-style: italic;
}

#filtering {
  margin: 1em;
  background: #F2EDDE;
  padding: 0.5em;
  border-radius: 0.5em;
  overflow: auto;
}

#filtering ul, #filtering li, #filtering .instructions {
  float: left;
}

#filtering ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#filtering li {
  margin: 0 0.5em;
}

#filtering a {
  color: #333;
}

#featured {
  margin: 1em;
  background: #F2EDDE;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 15em;
  border: 3px solid #C93F00;
}

#featured .title {
  font-weight: bold;
  display: block;
  margin: 0.2em 0 0.5em 0;
}

#featured a {
  font-weight: bold;
  text-decoration: none;
  margin: 0.3em 0;
  display: block;
  color: #890900;
}

#featured img {
  margin-right: 0.5em;
}

#pet_information .more {
  color: gray;
}

#pet_information .more p {
  border: 1px solid #CCC;
  border-left: none;
  border-right: none;
  padding: 1em 0;
  margin-top: 2em;
}

#pet_information .more a {
  color: #194900;
}